<app-page-content-section>
  <button class="back-button" routerLink="/find-tutor" >Back</button>
  
  <div class="containers">
    <div class="container-left">
      <div class="tutor-info-section">
        <div class="tutor-photo-wrapper">
          <div class="tutor-photo" (click)="toggleCarousel()">
            <img [src]="" [alt]="tutor.name">
          </div>
          <button class="watch-video-btn" (click)="toggleCarousel()">
            Watch Video
          </button>
        </div>
        <div class="tutor-info">
          <h3>{{ tutor.name }}</h3>
          <div class="tutor-location">
            {{ tutor.location.city }}, {{ tutor.location.country }}
          </div>
                <div class="subject-container">
        <h2>Learn.. </h2>
        <ul class="subject-list">
          <li *ngFor="let subject of tutor.subjects">{{subject}}</li>
        </ul>
      </div>
        </div>
      </div>

      <div class="about-me">
        <h2>About me</h2>
        <p>{{tutor.aboutMe}}</p>
      </div>
    </div>

    <div class="container-right">
      <div class="carousel" *ngIf="showCarousel">
        <app-media-carousel></app-media-carousel>
      </div>
      <div class="headline-card" *ngIf="!showCarousel">
        <h2>{{tutor.headline}}</h2>
        <div class="price-container">
          <h3>£{{tutor.price}} Per session</h3>
        </div>
        <button class="book-btn" (click)="bookSession()">
          <span>Book a Session</span>
        </button>
      </div>
      <div class="review-container">
        <h2>Reviews - {{tutor.reviews.length}}</h2>
        <div class="reviews">
          <app-review-list [reviews]="tutor.reviews"></app-review-list>
        </div>
      </div>
    </div>
  </div>
</app-page-content-section>